/* Container */
.container {
  width: 400px;
  margin: auto;
  padding-top: 20px;
  font-family: Arial, sans-serif;
}

/* Inputs */
.title-input,
.content-input,
.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

/* Textarea */
.content-input {
  height: 80px;
  resize: none;
}

/* Add button */
.add-btn {
  background: #054912;
  color: rgb(164, 147, 147);
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

.add-btn:hover {
  background: #225a2f;
}

/* Note Card */
.note-card {
  background: #142331;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  transition: 0.2s;
}

.note-card:hover {
  transform: scale(1.02);
}

/* Note Title */
.note-title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 16px;
}

/* Delete button */
.note-delete {
  background: #dc3545;
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.note-delete:hover {
  background: #c82333;
}

/* Edit button */
.edit-btn {
  background: #6a59ff;
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}

.edit-btn:hover {
  background: #5645e6;
}

/* Modal Background */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background: white;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
}
.sort-select {
 padding: 10px;
  margin: 10px 0;
  width: 180px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: rgb(27, 12, 43);
  font-size: 15px;
}
/* Smooth transition */
* {
  transition: background 0.3s ease, color 0.3s ease;
}

/* DARK MODE */
.container.dark {
  background: #121212;
  color: white;
}

.container.dark .title-input,
.container.dark .content-input,
.container.dark .search-input {
  background: #222;
  color: white;
  border: 1px solid #444;
}

.container.dark .note-card {
  background: #1e1e1e;
  color: white;
  border: 1px solid #333;
}

.theme-toggle {
  margin-bottom: 10px;
  padding: 8px 15px;
  border-radius: 8px;
  background: #444;
  color: white;
  border: none;
  cursor: pointer;
}

.theme-toggle:hover {
  background: #666;
}
.note-time {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 5px;
}
